<a href="https://colab.research.google.com/github/carolvieirav/Case-Hurb/blob/main/rnw_conex%C3%A3o_com_bd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import os
import urllib.parse as up
import psycopg2
import pandas as pd
import sqlalchemy as db
import sqlite3

In [27]:
# criando engine de conexão com banco de dados

#url = up.urlparse("postgres://obixysrw:LszsXB-k60YsJF4JUWit_l8BqgfG1mPt@motty.db.elephantsql.com/obixysrw")
#conn = psycopg2.connect(database=url.path[1:], user=url.username, password=url.password, host=url.hostname, port=url.port)

In [34]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://obixysrw:LszsXB-k60YsJF4JUWit_l8BqgfG1mPt@motty.db.elephantsql.com/obixysrw')

## honorários

In [ ]:
honorarios_dados = pd.read_sql_query("SELECT * FROM honorarios_dados", conn)
honorarios_dados

Empty DataFrame
Columns: [id, internaçao, alta, dob, data_envio, data_vencimento, hospital, medico, paciente, procedimento, seguradora, apolice, status, obs, case_number, nota_fiscal_rnw, valor_apresentado, desconto, honorario_rwn, imposto, valor_liquido_rnw, honorario_medico]
Index: []

In [ ]:
honorarios_dados.columns

Index(['id', 'internaçao', 'alta', 'dob', 'data_envio', 'data_vencimento',
       'hospital', 'medico', 'paciente', 'procedimento', 'seguradora',
       'apolice', 'status', 'obs', 'case_number', 'nota_fiscal_rnw',
       'valor_apresentado', 'desconto', 'honorario_rwn', 'imposto',
       'valor_liquido_rnw', 'honorario_medico'],
      dtype='object')

In [ ]:
#honorarios_dados.to_sql('',conn)

In [ ]:
contatos_eletivo = pd.read_excel('')

## contatos - eletivo

In [28]:
contatos_eletivo = pd.read_excel('/content/Contatos - Eletivo.xlsx')
contatos_eletivo.columns

Index(['HOSPITAL', 'LIDERANÇA', 'TELEFONE', 'E-MAIL', 'Atendente',
       'TELEFONE.1', 'E-MAIL.1', 'E-MAIL 2 '],
      dtype='object')

In [29]:
contatos_eletivo.rename(columns={'TELEFONE':'TELEFONE_LIDERANÇA', 'E-MAIL':'EMAIL_LIDERANÇA',
                                 'TELEFONE.1':'TELEFONE_ATENDENTE', 'E-MAIL.1':'E-MAIL_ATENDENTE', 'E-MAIL 2 ':'EMAIL_2'}, inplace = True)

In [30]:
contatos_eletivo.head()

        HOSPITAL  ...                                  EMAIL_2
0  ANÁLIA FRANCO  ...                                      NaN
1       ASSUNÇÃO  ...     ana.cristina@hospitalassuncao.com.br
2         BRASIL  ...                                      NaN
3     BARRA D'OR  ...         pre-internacao.2@barrador.com.br
4    CAXIAS D'OR  ...  centralautorizacao.hcx@caxiasdor.com.br

[5 rows x 8 columns]

In [37]:
contatos_eletivo.to_sql('contatos_eletivo', engine, if_exists='replace', index=True, method='multi')

In [ ]:
pd.read_sql_table('contatos_eletivo', conn)

## contatos hospitais

In [ ]:
contatos_hospitais = pd.concat(pd.read_excel('2018_Sales_Total.xlsx', sheet_name=None), ignore_index=True)

In [ ]:
contatos_eletivo.columns